# Archivos de entorno
*.env
.env
.env.*

# Archivos de configuración local
*.vscode/
*.idea/
.DS_Store

# Entornos virtuales
venv/
env/
.venv/

# Archivos de Jupyter
.ipynb_checkpoints/

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs
*.log

# Datos sensibles o pesados
*.sqlite3
*.db
*.h5
*.pkl
*.parquet
*.feather

# Archivos CSV muy pesados (opcional, si querés mantener limpio el repo)
# *.csv

# Archivos comprimidos
*.zip
*.rar
*.tar
*.gz
